<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">Cloudwatch</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto"> 
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <% if !current_user %>
        <%= link_to "Sign Up", signup_path, class:"nav-link" %> 
        <% end %>
      </li>
      <li class="nav-item">
        <% if !current_user %>
        <%= link_to "Sign In", login_path, class:"nav-link" %>
        <% end %>
      </li>
      <li class="nav-item">
        <% if current_user %>
        <%= link_to "My Profile", user_path(current_user), class:"nav-link" %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to "All users", users_path, class:"nav-link" %>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <%= form_tag(users_path, :method=> "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder:"search for users", class:"form-control mr-sm-2", :required => 'required' %>
        <%= submit_tag "Search", :name => nil %>
      <% end %>
     
    </form>
  </div>
  <div id="flash">  
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>
</nav>
    <div class="container">

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>