<h1>Signup</h1>

<%= form_for :user, url: '/users' do |f| %>

	Name: <%= f.text_field :name %>
	Email: <%= f.text_field :email %>
	Password: <%= f.password_field :password %>
	Password Confirmation: <%= f.password_field :password_confirmation %>
	
	<%= select_tag(:role, options_for_select([['User', 0],['Superuser', 1],['Admin', 2]])) %>
	<%= f.submit "Submit" %>
<% end %>